
.icon-users:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-bath:before { content: '\f2cd'; } /* '' */